body {line-height: 30px;}
h1{color: blueviolet;}
.lista{color: blue;height: 30px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;text-align: justify;}
img{height: 300px;}
.linker{cursor: pointer;}
